

/******************************************  轮播图信息  **********************************************/
/* 焦点 */
.carousel-indicators{margin-bottom:50px; }
#Banenr_List{width:1215px;margin:-50px auto 80px auto;height:137px;position: relative;z-index: 100}
#Banenr_List>ul{width:100%;height:100%;background: #fff;
					box-shadow: 0 0 50px rgba(0,0,0,.3);
				}
#Banenr_List>ul li{float:left;width:404px;height:100%;overflow: hidden;box-sizing: border-box;}
#Banenr_List>ul li:nth-child(-n+2){border-right:1px solid #999;}
#Banenr_List>ul li p{float:left;border:1px solid red;height:80px;width: 100}
#Banenr_List>ul li p img{border:1px solid blue;height:100%;width:100%;}
#Banenr_List>ul li div{float:right;}
#Banenr_List>ul .clear{clear:both;display: none}
/**************************************************************************************************/




/******************************************  首页_热销推荐  **********************************************/









/**************************************************************************************************/

















































































































































